@charset "UTF-8";

/* Versão Mobile First*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #F0F0F0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    background-color: #011C40;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    font-size: 24px;
    margin-left: 30px;
}

header img { 
    height: 20px;
}

main {
    margin: auto;
    width: 360px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

h1 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #202022;
}

a {
    text-decoration: none;
}

#cadastrar, #editar, #ranking {
    margin: auto;
}

#cadastrar, #editar {
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
    height: 120px;
    width: 360px;

}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #0153FC;
}

#cadastrar, #editar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#cadastrar p, #editar p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #202022;
}

.botao {
    display: flex;
    justify-content: space-around;
}

.botao h2 {
    margin-bottom: 5px;
}

.icon {
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background-color: #ADC8FF;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    height: 45px;
}

#editar .icon {
    background-color: #B5B8FD;
}

#ranking {
    width: 360px;
    height: 440px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    background-color: #011C40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone {
    display: flex;
}

.link img {
    height: 35px;
    margin-left: 30px;
    margin-right: 30px;
}

.posicao {
    margin-top: 15px;
    margin-left: 15px;
}

.colocacao {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background-color: #ADC8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 15px;
}

.colocacao.primeiro{
    background-color: #FFB03B;
} 

.colocacao.segundo{
    background-color: #D9D9D9;
} 

.colocacao.terceiro{
    background-color: #BA7715;
} 


.nomeUsina {
    display: flex;
}

.nomeUsina p {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
}

.progress{
    height: 24px;
    width: 320px;
}

.progress-bar {
    height: 24px;
    background-color: #327B8B;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.progress p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #202022;
    margin-right: 10px;
}

#clara {
    background: #5BBBD0;
}

#itapebi {
    background: #77B3D9;
}

#lajeado {
    background: #7BC0EC;
}

#tabajara {
    width: 170px;
    background: #9BDAD4;
}

.verMais {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 330px;
    margin-top: 15px;
}

.verMais p {
    font-weight: 600;
    text-decoration: underline;
    color: #918E8E;
}

.verMais img {
    height: 23px;
    margin-left: 10px;
}




/* TELA CADASTRO */

.secoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1cadastro {
    font-size: 25px;
}

.barratitulo img {
    height: 25px;
    margin-right: 30px;
}


.formulario {
    margin: auto;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 340px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #202022;
}

input, select {
    width: 340px;
    height: 55px;
    border: 1px solid #918E8E;
    border-radius: 10px;
    font-size: 24px;
    padding-left: 20px;
}

.btn {
    margin-top: 40px;
    width: 189px;
    height: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
}




/* TELA AREAS */

.areasQuestionario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coluna1 {
    margin-right: 20px;
}

.coluna2 {
    margin-left: 20px;
}

.area {
    height: 160px; 
    width: 160px;
    border-radius: 10px;
    background-color: #2AB888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.area img {
    margin-top: 15px;
    height: 60px;
}

.area p {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
}

#inventario {
    background-color: #2C5BA8;
}

#acesso {
    background-color: #A457BF;
}

#governanca {
    background-color: #F5953B;
}

#governanca p {
    font-size: 13px;
}

#vulnerabilidade {
    background-color: #2393D9;
}

#monitoramento {
    background-color: #E66267;
}

#monitoramento p {
    font-size: 13px;
}

#monitoramento img {
    height: 50px;
}




/* TELA PERFIL USINA */

.historico {
    display: flex;

}

.cardhistorico {
    background-color: white;
    width: 185px;
    height: 134px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.areaHistorico {
    width: 150px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.areaHistorico p {
    width: 80px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11.8px;
    line-height: 12px;
    color: #2AB888;
}

.iconCard {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid #2AB888;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconCard img {
    height: 30px;
}

.dadoHistorico p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
}

#dataHistorico {
    font-size: 10px;
    line-height: 12px;
    color: #918E8E;
    margin-bottom: 0;
}

#pontuacaoHistorico  {
    margin-top: 2px;
    font-size: 18px;
    line-height: 20px;
    color: #202022;
}




/* TELA QUESTÕES */

.questoesArea {
    height: 20px;
    width: 340px;
    margin: auto;
    margin-top: 10px;
    background-color: #C8C8C8;
    border-radius: 50px;
}

#barraQuestionario {
    height: 20px;
    background-color: #011C40;
    border-radius: 50px;
}

.cardQuestoes {
    margin: auto;
    margin-top: 30px;
    width: 360px;
    height: 470px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enunciado {
    height: 200px;
    width: 360px;
    background-color: #2AB888;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enunciado p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

.alternativas {
    height: 270px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}

.cardAlternativa {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 320px;
    height: 54px;
    border: 2px solid #918E8E;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-check {
    margin-left: 30px;
}

.botao-questao { 
    width: 130px;
    height: 40px;
    font-size: 22px;
    line-height: 24px;
}

.selected {
    border: none;
    background: #0153FC;
}

#selected {
    color: white;
}

.botoesPergunta {
    display: flex;
    justify-content: flex-end;
}